name: Python CI

on:
  push:
    branches:  ["main"] # Trigger genom push
  workflow_dispatch: # Manuell trigger
    inputs:
      log_errors:
        description: "Generera logg-artifact om tersterna misslyckades"
        required: true
        default: "true"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov flake8

      - name: Lint
        run: |
          flake8 . --exclude .venv

      
